html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
#banner_wrapper {
    padding: 0.5em 0em;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #bbb;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1140px;
}
#banner {
    border-radius: 0.5em;
    margin: 2em 0 2em 0;
}
a, a:hover {
    outline: none;
    text-decoration: none;
    color: #000;
}
#banner a img {
    width: 100%;
    display: block;
}
#site_content {
    margin-bottom: 2em;
    border-top: 1px solid #fff;
    padding-top: 2em;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1140px;
}
.row {
    margin-left: -50px;
}
.row:first-child>* {
    padding-top: 0!important;
}
.row>* {
    padding-left: 50px;
}
.row>* {
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.\38 u {
    width: 66.6666666667%;
}
h2 {
    font-size: 1.25em;
    margin-bottom: 0.75em;
}
h1, h2, h3 {
    font: bold 140% 'News Cycle', arial;
    margin: 0 0 1em 0;
    padding: 0 0 0.5em 0;
}
h1, h2, h3, h4, h5, h6 {
    color: #D32734;
    letter-spacing: 0em;
}
.\312u {
          width: 100%;
      }
